.container-card {
    width: 50%;
    height: 252px;
}
.credit-card {
    width: 280px;
    height: 168px;

    background: url(https://images.unsplash.com/photo-1638438134099-a91e5373aaf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
            no-repeat,
        center;

    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);

    border: 1px solid #374151;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    padding: 24px;

    transition: 1s;
}
.credit-card:hover {
    border-radius: 24px;
    border: 1px solid #000000;
}

.top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #f9fafb;
}

.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #f9fafb;

    opacity: 0.5;
}

.safe-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 34px;
}
.safe-info p {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #e5e7eb;
}
